.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      ". welcome ."
      "pic1 pic2 pic3"
      ". vote .";
  }
  
  .pic1 { grid-area: pic1; }
  
  .pic2 { grid-area: pic2; }
  
  .pic3 { grid-area: pic3; ;}
  
  .welcome { 
    grid-area: welcome; 
    background-color: aquamarine; 
    text-align: center;
    padding-top: 45px;

}
  
  .vote { 
    grid-area: vote;
    

}

#button {
    border: 10px;
    background-color:antiquewhite;
}
  
  html, body , .container {
    height: 100%;
    margin: 0;
  }
  
  For presentation only, no need to copy the code below

  .container * {
    border: solid;
    position: relative;
    
  }
  
