.container {
  display: grid;

}

.container-item {
  border: 10px solid grey;
  text-align: center;
  padding: 25px;
}

#nav1 {
  color: white;
  background-color: greenyellow;
}

#nav2 {
  color: white;
  background-color:orange;
}
#nav3 {
  color: white;
  background-color: blue;
}
#nav4 {
  color: white;
  background-color: purple;
}
  

